/* The following code removes the margin all the border of the page  */
body{
    margin: 0px;
}

.container{
    width: 90%;
    margin: auto;
}

.glb-msg{
    background-color: rgba(255, 0, 0, 0.731);
    padding: 10px 0;
    
}

.glb-msg > div {
    display: flex;/*  brings contents in two div elements in same line  */
    justify-content: space-between; /*  creates space in between welcome and the icons  */
    color:white;
}
[href="https://facebook.com"]{
    color: white;
}
[href="https://tiktok.com"]{
    color: white;
}
[href="https://instagram.com"]{
    color: white;
}

.nav-bar{
    background-color: blue;
    color: white;
}
.nav-bar > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

ul.menu  {
    list-style: none
}

.menu > li {
    /* margin: 10px 5px 20px 5px; (we can also do this) */
    margin-left: 1rem;
}
/* the followung line makes the items in list have a red background when we hover our mouse at them */
.menu > li:hover{
    background: red;
    cursor: pointer;  /* if this is not used, the pointer is going to change into I sign when we hover to the content  */
}

/* hero section  */
.hero{
    background: url(./hero.jpg) center center no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome{
    background: rgba(0, 0, 0, 0.447);
    color: rgba(196, 155, 60, 0.699);
    padding: 1rem 2rem;
    border-radius: 10px; /*  this curves the corner of the black box  */
}

/* ===================main area================== */
.main{
    display: flex;
    gap: 1rem; /*  this gives gap between all element in the container  */
}
.main-content{
    width: 70%;
}



main  article {
    display: flex;
    border: 1px solid silver;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: -5px 5px 15px 5px rgba(128, 128, 128, 0.479);
    margin-bottom: 2rem;
}


.art-img{
    max-width: 200px;
    margin-right: 20px;
}
.title{
    font-size: 1.5rem;
    font-weight: bold;
}
.btn-container {
    display: flex;
    justify-content: flex-end;
}

.btn-container button{
   
   
    padding: 5px;
}

/* ==================aside section ===================== */
.side-links{
width: 30%;
}

.country{
background: rgba(141, 222, 42, 0.282);
padding: 1rem;
border-radius: 5px;
margin-bottom: 3rem;
}

.year{
background: rgba(221, 150, 52, 0.565);
padding: 1rem;
border-radius: 5px;
margin-bottom: 3rem;
}

/* recommendation section ======= */

.recc {
    background: rgba(0, 128, 0, 0.566);
    padding: 4rem 0;
}

.card-list {
margin-top: 4rem;
display: flex;
flex-wrap: wrap;
gap: 2rem;
justify-content: space-between;
}

.card {
    width: 300px;
    border-radius: 5px;
   background: white;
   box-shadow: -5px 10px 10px 5px rgba(0, 0, 0, 0.346);
   /* overflow: hidden; this syntax will make the image border curve aswell but we use the syntax below*/
   padding-bottom: 1rem;
   flex-grow: 1;
}
.card img{
border-radius: 5px 5px 0px 0px ;
}
.card button{
    width: 100%;
    padding: 10px 0;
  
 
    box-shadow: -5px;
    border-radius: 10px;
}



/* =========================subscription section================== */
.subscription{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
form button{
    padding: 0.3rem 1rem;
    

}

/* ===============footer============ */
.footer{
    min-height: 50px;
    background: black;
    color: white;
    padding: 3rem;
    margin-top: 2rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background: rgba(255, 0, 0, 0.727);
    border: none;
    color: white;
    padding: 0.3rem 1rem;

}
